/*
        https://moderncss.dev/custom-select-styles-with-pure-css/
      */
      :root {
				--select-border: #777;
				--select-focus: blue;
				--select-arrow: var(--select-border);
			}
select {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	width: 100%;
	outline: none;
}

.select {
	padding: 0.25em 0.5em;
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	background-color: inherit;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
	display: grid;
	grid-template-areas: 'select';
	align-items: center;
	position: relative;
}
.select::after {
	content: '';
	width: 0.8em;
	height: 0.5em;
	background-color: var(--select-arrow);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	justify-self: end;
}
select,
.select:after {
	grid-area: select;
}
select:focus + .focus {
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border: 2px solid var(--select-focus);
	border-radius: inherit;
}
